/* CSS Document */
/*Í·²¿--*/
.headBar .logoBar span{color:#CCCCCC; font-size:22px; margin-left:100px; margin-bottom:20px;}
/*×¢²á---*/
.register{ margin-left:425px; margin-top:20px;width:460px; height:350px; border:#999999 solid 1px; position:relative;}
.register em{color:#FF0000}
.register ul{ position:absolute; top:25px; left:85px;}
.register ul li{padding-top:30px;}
.register .submit{ position:absolute; top:360px; left:120px; background-color:#CCCCCC;}
